server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5449/autopass
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: auth
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

app:
  security:
    access-ttl-seconds: 900
    refresh-ttl-seconds: 1209600
    refresh-cookies-name: refresh
    refresh-cookies-path: /api/v1/auth
    cookies-samesite: Strict

